
  <header class="header">
    <div class="container">
      <div routerLink="/" class="logo" >
    My Books
      </div>
      <nav class="nav" role="navigation">
       
        <ul class="nav-bar">
          <li routerLinkActive="active" class="nav-item">
    <a routerLink="/books" class="nav-link">Books</a>
          </li>
          <li routerLinkActive="active" class="nav-item">
    <a routerLink="/to-read-list" class="nav-link">To read List</a>
          </li>
        </ul> 
        <div appDropDown class="toggle">Manage
          <ul class="sth">
              <li><a (click)="onSaveData()">Save Data</a></li>
              <li><a (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </div>

      </nav>
    </div>
      </header>
    
    