
  <header class="header">
    <div class="container">
      <div routerLink="/" class="logo" >
    My Books
      </div>
      <nav class="nav" role="navigation">
       
     
          <div routerLinkActive="active" class="nav-item">
    <a routerLink="/books" class="nav-link">Books</a>
          </div>
          <div routerLinkActive="active" class="nav-item">
    <a routerLink="/to-read-list" class="nav-link">To read List</a>
          </div>
      
        <ng-template [ngIf]="!authService.isAuthenticated()">  

          
          <div class="nav-item menage"> 
             <a routerLinkActive="active" routerLink='signup'>Register</a> 
            <a routerLinkActive="active"routerLink='signin'>Log in</a>
         </div> 

      </ng-template>

     <ng-template [ngIf]="authService.isAuthenticated()">  
       <div class=" nav-item menage">
         
       <div> 
         <a style="cursor: pointer" 
         (click)="onLogout()" >Logout</a></div>

       <div appDropDown>Manage
          <ul class="sth">
              <li><a (click)="onSaveData()">Save Data</a></li>
              <li><a (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </div>
       </div> </ng-template>
     
       

      </nav>
    </div>
      </header>
    
    