
  <header class="header">
    <div class="container">
      <div class="logo">
    My Books
      </div>
      <nav class="nav" role="navigation">
       
        <ul class="nav-bar">
          <li class="nav-item">
    <a (click)="onSelect('book')" class="nav-link">Books</a>
          </li>
          <li class="nav-item">
    <a (click)="onSelect('my-list')" class="nav-link">To read List</a>
          </li>
        </ul> 
        <div appDropDown class="toggle">Manage
          <ul class="sth">
              <li><a href="#">To my list</a></li>
              <li><a href="#">edit book</a></li>
              <li><a href="#">delete book</a></li>
            </ul>
          </div>

      </nav>
    </div>
      </header>
    
    