<div class="container">
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <button  class="btn btn-green"  [disabled]="!bookForm.valid" type="submit">Save</button>
            <button  class="btn btn-red"  (click)="onCancel()"type="button">Cancel</button>
            <div class="form-group">
                    <label for="author">Author</label>
                    <select class="custom-select" 
                     (change)="changeAuthor($event)" 
                    formControlName="authorId" 
  >
                            <option 
                            *ngFor="let author of authors; let i = index" 
                            [value]="authors[i].authorId"
                            >
                            {{author.name}}</option>
                            </select>
                            <span *ngIf="!bookForm.get('authorId').valid && bookForm.get('authorId').touched"class="validation-error">Please choose an author</span>
                   
    <label for="name">Name</label>
    <input 
    type="text"
    id="name"
    formControlName="name"
    class=""><span *ngIf="!bookForm.get('name').valid && bookForm.get('name').touched"class="validation-error">Please enter author's name</span>
   
<label for="date">Publication date:</label>
<input 
type="date"
id="date"
formControlName="date"
class="">

    <label for="desc">Description</label>
    <textarea 
    type="text"
    id="desc"
    formControlName="desc"
    class=""
    rows="6"></textarea>
    <span *ngIf="!bookForm.get('desc').valid && bookForm.get('desc').touched"class="validation-error">Please enter a description</span>
    <label for="imagePath">ImagePath</label>
    <input 
    type="text"
    id="imagePath"
    formControlName="imagePath"
    class=""><span *ngIf="!bookForm.get('imagePath').valid && bookForm.get('imagePath').touched"class="validation-error">Please enter a valid image path</span>
  
            </div>
        </form>
    </div>