
 .container{
   
    margin:2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}
@media (min-width: 700px) {
     .container{
   
    margin:2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

}
 }