<div>
    <app-my-list-edit [authors]="authors"></app-my-list-edit>
    <hr>
    <div>
        <div class="list-group">
            <div class="list-group-item" *ngFor="let book of books;let i=index" (click)="onEditItem(i)">
                <ng-container *ngFor="let author of authors">
                    <div *ngIf="author.authorId===book.authorId">
                        {{author.name | titlecase}}
                        {{book.name | titlecase}} {{book.desc}}
                    </div>
                </ng-container>
            </div>
        </div>

    </div>
</div>