.author-card{
    border: 1px solid black;
  
    margin:1rem .5rem;

}

.author-pic{
height: 100px;
width: 100px;
border-radius: 50%;
object-fit: cover;

overflow: hidden;
}
.author-img{
    max-height: 100%;
  

}
.author{  padding:1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
cursor: pointer;

}
.active{
    background-color: aqua;
}